---
---
//Last updated 17-03-2015 by nadjetey @12.15am
/* configurations */
$primary-color: #FFDF97; // background 
$lnk-color: #EE0930; // link color
$lnk-highlight-color: #580444; // hover color

/* IMPORT CSS FILES */
// base css
@import "site";
// syntax highlighting
@import "syntax";
// bootstrap
@import "bootstrap.min";
// fontawesome icons
@import "font-awesome.min";
