{% include head.html %}
<main>
    <span class="statusbar"></span>
    <!-- Wrap all page content here -->
    <div id="wrap">
        <div id="body" class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- side navigation -->
                <nav id="nav" role="navigation" class="col-sm-2 sidebar-offcanvas">
                    <header id="menu" role="banner">
                        <p class="menu-title">Close</p>
                        <a href="#nav" class="close-btn">
                            <img src="{{ "/assets/fonts/close-btn.svg" | prepend: site.url }}" alt="close button">
                        </a>
                    </header>
                    {% include sidenav.html %}  


                    
                </nav>
                <header id="menu" role="banner">
                    <p class="menu-title">Menu</p>
                    <a href="#nav" class="menu-btn">
                        <img src="{{ "/assets/fonts/menu-btn.svg" | prepend: site.url }}" alt="menu button">
                    </a>
                </header>
 
                <!-- Content -->
                <div class="col-sm-10">
                    <nav class="top">
                        <a href="{{ "/index.html" | prepend: site.url }}"> {{ site.name }} &mdash; {{ site.description }} </a>
                        <span class="pull-right">
                        
  
                        
                           
                            <a id="twitter-ic" class="link" href="https://twitter.com/{{site.owner.twitter}}">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                            <a id="git-ic" class="link" href="https://github.com/{{site.owner.github}}">
                                <i class="fa fa-github-square fa-lg"></i>
                            </a>
                            <a id="rss-ic" class="link" href="{{ "/feed.xml" | prepend: site.url }}">
                                <i class="fa fa-rss fa-lg"></i>
                            </a>
                        </span>
                    </nav>
                    <div class="row">
                        {{ content }}
                        
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- RPi Responsive Leader -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4947875154879707"
     data-ad-slot="2769156058"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <!-- Project Wonderful Ad Box Code -->
<div style="text-align:center;"><div style="display:inline-block;" id="pw_adbox_76874_5_0"></div></div>
<script type="text/javascript"></script>
<noscript><div style="text-align:center;"><div style="display:inline-block;"><map name="admap76874" id="admap76874"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=76874&type=5" shape="rect" coords="0,0,728,90" title="" alt="" target="_blank" /></map>
<table cellpadding="0" cellspacing="0" style="width:728px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=76874&type=5" style="width:728px;height:90px;border-style:none;" usemap="#admap76874" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=76874&type=5" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table></div></div>
</noscript>
<!-- End Project Wonderful Ad Box Code -->

        <footer class="footer text-center meta">
            Powered by <a class="link" href="https://github.com/nadjetey/wangana">Wangana</a> &mdash; Jekyll theme. (C) 2014-2015.
        </footer>
    </div>
</main>
{% include footer.html %}